/* container size start */
@media (min-width: 1200px) {
  :root {
    --container: 1100px;
  }
  .container {
    max-width: var(--container);
  }
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .mid-scroll-size::-webkit-scrollbar,
  .ant-layout-sider::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--clr-bleu-de-france-one);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--clr-fortress-grey);
  }
}
@media (min-width: 1280px) {
  :root {
    --container: 1180px;
  }
}
@media (min-width: 1350px) {
  :root {
    --container: 1280px;
  }
}
/* container size end */
@media (min-width: 1900px){
  .flex-xxl-1900-row{
    flex-direction: row !important;
  }
}
@media (max-width: 1899px){
  .w-100-xxl-1899{
    width: 100% !important;
  }
}
@media (max-width: 1799px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1600px){
  .flex-xxl-1600-row{
    flex-direction: row !important;
  }
}

@media (max-width: 1599px) {
  :root {
    --select-font-size: 20px;
    --text-xl: 22px;
  }
  html {
    font-size: 7px;
  }
  .select-search-icon {
    left: 10px;
  }
  .w-100-xxl{
    width: 100% !important;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 768px) {
  .justify-content-lg-unset {
    justify-content: unsafe;
  }
}

@media (max-width: 1199px) {
  :root {
    --select-font-size: 16px;
    /* font size */
    --text-lg: 22px;
    --text-md: 18px;
    --text-sm: 16px;
    --text-extra-sm: 14px;
  }
  h3.small,
  .h3,
  .small {
    font-size: 20px;
  }
  html {
    font-size: 5px;
  }
  .main-layout{
    padding-left: var(--sidebar-size);
  }
}

@media (max-width: 991px){
  .w-100-md{
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .w-full-sm {
    width: 100% !important;
  }
  p.error-msg-text{
    font-size: 12px;
  }
  .w-100-sm{
    width: 100% !important;
  }
  .search-min-300 {
    min-width: 100%;
  }
}

@media (min-width: 576px){
  .btn-min-width.custom-min-width-md-btn.ant-btn,
  .btn-min-width.custom-min-width-md-btn{
    min-width: 350px;
  }
  .w-45{
    width: 45%;
  }
  .w-55{
    width: 55%;
  }
}

@media (max-width: 575px) {
  :root {
    /* font size */
    --text-xl: 18px;
    --text-lg: 20px;
    --text-md: 16px;
    --sidebar-size: 60px;
  }
  html {
    font-size: 4.5px;
  }
  h3.small,
  .h3,
  .small {
    font-size: 18px;
  }
  table thead tr th, table tbody tr td{
    min-width: 100px;
  }
  .w-75-xs{
    width: 75% !important;
  }
  .w-25-xs{
    width: 25% !important;
  }
  .w-100-xs{
    width: 100% !important;
  }
}
@media (max-width: 349px){
  .pendingProjectListCard{
    padding: 10px;
  }
}
